# Папки с данными и артефакты MLflow (занимают много места)
data/
mlruns/

# Кэш Python
__pycache__/
*.pyc

# Виртуальное окружение
venv/
env/

# Файлы моделей (если используете Git LFS, можно раскомментировать)
# *.joblib
# *.pkl

# IDE
.vscode/
.idea/